{%load static%}
  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 footer-col">
          <div class="footer_detail">
            <h4>
              About
            </h4>
            <p style="text-align: left;">
              <span>
                <a href="/"><img style="width:30px;height: 30px;" src="{% static 'images/logo.png' %}"/><b style="color: #3d8da2;">Apna Eng</b><b style="color:#bfe1e1">ineer</b></a>
              </span><br> We provide trusted computer repair services with quick turnaround times and expert technical support as per customer satisfaction.
            </p>
            <div class="footer_social">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-2 mx-auto footer-col">
          <div class="footer_link_box">
            <h4>
              Links
            </h4>
            <div class="footer_links">
              <a class="active" href="/">
                Home
              </a>
              <a class="" href="../#services">
                Services
              </a>
              <a class="" href="/aboutus">
                About
              </a>
              <a class="" href="../#why_us_section">
                Why Us
              </a>
              <a class="" href="/contact">
                Contact Us
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 footer-col">
          <div class="footer_contact">
            <h4>
              Contact Info
            </h4>
            <div class="contact_link_box">
              <p>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Location
                </span>
              </p>
              <a href="tel:+91919519291313">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call : +91 9519291313
                </span>
              </a>
              <a href="mailto: service4u.apnaengineer@gmail.com">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                 Email : Click to Mail
    
                </span>
              </a>
              <p>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <span>
                  Mon-Sat: 09.00 - 18.00
                </span>
              </p>
              <p>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <span>
                  Sunday: Closed (only remote)
                </span>
              </p>
              <p>
                <h6 role="alert" style="color: orangered;">You are Visitor No. {{count}}</h6>

              </p>


        
            </div>
          </div>
          
        </div>
        
        <div class="col-md-6 col-lg-4 footer-col">
          <div class="map_container">
            <div class="map">
              <div id="googleMap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7119.405325642398!2d80.9421722755922!3d26.849407932619602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399bfd07c36d1953%3A0x1f52b4567a2333b4!2sVrinda%20Laptop%20Sales%20%26%20Services!5e0!3m2!1sen!2snp!4v1679327856139!5m2!1sen!2snp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-info">
      <div class="container">
        <p>
          <a href="/errorpage" style="text-decoration: none;color: white;">&copy;</a> {% now 'Y' %} - <span id="displayYear"></span> All Rights Reserved By
          <a href="/"><img style="width:30px;height: 30px;" src="{% static 'images/logo.png' %}"/><b style="color: #3d8da2;">Apna Eng</b><b style="color:#bfe1e1">ineer</b></a>
        </p>
      </div>
    </div>
  </footer>
  <!-- footer section -->